{{ name }}
======================================================

{{ description }}

Example
~~~~~~~

.. code-block:: clojure

{{# examples }}
   {{& example }}
{{/ examples }}

Configuration
~~~~~~~~~~~~~

{{# options }}
``:{{key}}``

  {{ description }}

{{/ options }}

Resources
~~~~~~~~~

- `Task Source`_

.. _Task Source: {{ url }}
