{:connections [{:type :local}
               {:type :ssh :hostname "localhost"}]
 :tasks [{:type :command
          :command "/bin/echo -n `whoami`: $message"
          :env {:message "hello world!"}}]}
